
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!DOCTYPE html>

<header class="masthead text-center text-white d-flex" style="background-image: url(); background-image: url('/Content/HomeMenu/img/headerAdoption.jpg');" >
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong style="color: #962222; font-size: 50px;">Adopta</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5" style="font-size:30px;">Adoptar es un acto de responsabilidad y compromiso de por vida</p>
             
            </div>
        </div>
    </div>
</header>
<section class="bg-primary" style="padding: 6%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
             
                <hr class="light my-4">
                <p class="text-faded mb-4" style="font-size: 20px;">
                    Adoptar es un acto de responsabilidad y compromiso por lo que es importante que estes capacitado para hacerlo. Un perro puede vivir entre 14 y 18 años y durante todo ese tiempo dependerá de vos. <br/><br />

                    Algunas cuestiones para tener en cuenta son el espacio disponible de tu casa, el tiempo que tengas para brindarle compañía, actividad física y cuidado. También los costos asociados a su alimentación, atención veterinaria y estadía durante tus vacaciones.<br /><br />

                    Para asegurarte una convivencia feliz tu elección debe estar orientada al estilo de vida que llevas y el tiempo real que le podes dedicar. </p>
             
                <hr class="light my-4">
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Antes de adoptar considerá las siguientes caracteristicas</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
</section>

<div class="row col-md-12 mx-auto " style="background-color:#212529; height:25%;">
        
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <h3 class="mb-3 text-primary mb-3 sr-icons" style="color:beige!important;"><strong>Cachorro</strong></h3>
                    <i class="fa fa-4x fa fa-angle-double-down text-primary mb-3 sr-icons"></i>                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <h3 class="mb-3 text-primary mb-3 sr-icons" style="color:beige!important;"><strong>Joven</strong></h3>
                    <i class="fa fa-4x fa fa-angle-double-down text-primary mb-3 sr-icons"></i>                
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <h3 class="mb-3 text-primary mb-3 sr-icons" style="color:beige!important;"><strong>Adulto</strong></h3>
                    <i class="fa fa-4x fa fa-angle-double-down text-primary mb-3 sr-icons"></i>                 
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <h3 class="mb-3 text-primary mb-3 sr-icons" style="color:beige!important;"><strong>Anciano</strong></h3>
                    <i class="fa fa-4x fa fa-angle-double-down text-primary mb-3 sr-icons"></i>                      
                </div>
            </div>
        </div>

 

<section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" href="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/1.jpg">
                                <img class="img-fluid" src="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/1.jpg" alt="" style="width: 800px; height: 600px;">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded" style="text-align:left;">
                                        
                                                Requiere de mucho tiempo y esfuerzo<br /><br />
                                                Comen 4 veces al día<br /><br />
                                                Puede llorar por las noches y en las ausencias de los dueños<br /><br />
                                                Mastica objetos<br /><br />
                                                No hay garantias respecto a el tamaño que llegará a tener<br /><br />
                                            
                                        </div>

                                    </div>
                                </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" href="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/2.jpg">
                    <img class="img-fluid" src="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/2.jpg" alt="" style="width: 800px; height: 600px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded" style="text-align:left;">
                                Es juguetón pero más adulto<br /><br />
                                Comen dos veces al día<br /><br />
                                Vienen con vacunación completa y esterilizados<br /><br />
                                Se puede sacarlo a pasear y bañarlo<br /><br />
                                Ya tiene el tamaño definitivo<br /><br />
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" href="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/3.jpg">
                    <img class="img-fluid" src="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/3.jpg" alt="" style="width: 800px; height: 600px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded" style="text-align:left;">
                                No genera problemas por quedarse algunas horas solo<br /><br />
                                Es probable que duerma toda lo noche<br /><br />                           
                                Se muestran gratificantes y toman mucho cariño a su nueva familia y casa<br /><br />
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" href="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/4.jpg">
                    <img class="img-fluid" src="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/4.jpg" alt="" style="width: 800px; height: 600px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded" style="text-align:left;">
                                Son más independientes<br /><br />
                                Son muy calmos y sedentarios<br /><br />
                                No requieren tanto trabajo<br /><br />
                                Estarán súper agradecidos, esperaron su hogar mucho tiempo.<br /><br />
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>                       
</section>


<div class="row col-md-12 mx-auto  text-center " style="background-color:#212529; height:25%; padding-top:4%;">
    <div class="col-lg-10 mx-auto text-center">
        <h1 >
            <strong style="color: #fff; font-size: 40px;margin-top:10%;">Nuestros requisitos</strong>
        </h1>
        <hr>
    </div>

</div>

<section style="padding-bottom: 3%; background-color:white!important; text-align:center; ">
   
    <div class="row">
        <div class="col-sm-3" style="text-align:right;"><i class="fa fa-4x fa-paw text-primary mb-3 sr-icons" style="text-align:right;"></i></div>
        <div class="col-sm-8" style="text-align:left;"><p style="font-size:20px;" ><strong>Los animales se entregan luego de una charla telefónica orientada a corroborar que se cumplen con las normas básicas de tenencia responsable.  </strong> </p> <br /><br /></div>
    </div>
    <div class="row">
        <div class="col-sm-3" style="text-align:right;"><i class="fa fa-4x fa-paw text-primary mb-3 sr-icons" style="text-align:right;color:#962222!important;"></i></div>
        <div class="col-sm-8" style="text-align:left;"><p style="font-size:20px;"><strong> Los adoptantes deberán firmar un contrato de adopción donde consten sus datos personales y donde se comprometen a brindar los cuidados necesarios.  </strong> </p> <br /><br /></div>
    </div>
    <div class="row">
        <div class="col-sm-3" style="text-align:right;"><i class="fa fa-4x fa-paw text-primary mb-3 sr-icons" style="text-align:right;"></i></div>
        <div class="col-sm-8" style="text-align:left;"><p style="font-size:20px;"><strong> Nos reservamos el derecho de dar o no un animal en adopción de acuerdo a si se cumplen o no los requerimientos que nuestra ONG considera.  </strong> </p> <br /><br /></div>
    </div>
    <div class="row">
        <div class="col-sm-3" style="text-align:right;"><i class="fa fa-4x fa-paw text-primary mb-3 sr-icons" style="text-align:right;color:#962222!important;"></i></div>
        <div class="col-sm-8" style="text-align:left;"><p style="font-size:20px;"><strong> Las adopciones se limitan geográficamente a Capital Federal y Gran Buenos Aires, Argentina   </strong> </p> <br /><br /></div>
    </div>
    <div class="row">
        <div class="col-sm-3" style="text-align:right;"><i class="fa fa-4x fa-paw text-primary mb-3 sr-icons" style="text-align:right;"></i></div>
        <div class="col-sm-8" style="text-align:left;"><p style="font-size:20px;"><strong>Los datos suministrados por el solicitante son confidenciales y de acceso restringido, para el uso exclusivo de los procesos de adopción y no serán transferidos a terceros bajo ninguna circunstancia.</strong> </p> <br /><br /></div>
    </div>

       
</section>

<section class="bg-primary" style="background-color:#212529!important;" >
    <div class="container" style="margin-left: 3%;">
        <div class="row">           
            <div class="col-sm-1"></div>
            <div class="col-sm-5 mx-auto text-center">
                <img class="img-fluid" src="/Content/HomeMenu/img/portfolio/thumbnails_Adopt/6.jpg" alt="" style="width: 1600px; height: 500px;">
                <a href="#" class="btn btn-outlined btn-block btn-danger" style="border-radius: 0;">Adopta un perro</a>
            </div>

            <div class="col-sm-5 mx-auto text-center">
                <img class="img-fluid" src="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/5.jpg" alt="" style="width: 1600px; height: 500px;">
                <a href="#" class="btn btn-outlined btn-block btn-danger" style="border-radius: 0;">Adopta un gato</a>
            </div>
        </div>
            <div class="col-sm-1"></div>


            
            </div>
        
   
</section>