
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!DOCTYPE html>

<header class="masthead text-center text-white d-flex" style="background-image: url(); background-image: url('/Content/HomeMenu/img/headerAdoption.jpg');" >
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong style="color: #962222; font-size: 50px;">Adopta</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Adoptar es un acto de responsabilidad y compromiso de por vida</p>
             
            </div>
        </div>
    </div>
</header>
<section class="bg-primary" style="padding: 6%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
             
                <hr class="light my-4">
                <p class="text-faded mb-4" style="font-size: 20px;">
                    Adoptar es un acto de responsabilidad y compromiso por lo que es importante que estes capacitado para hacerlo. Un perro puede vivir entre 14 y 18 años y durante todo ese tiempo dependerá de vos. <br/><br />

                    Algunas cuestiones para tener en cuenta son el espacio disponible de tu casa, el tiempo que tengas para brindarle compañía, actividad física y cuidado. También los costos asociados a su alimentación, atención veterinaria y estadía durante tus vacaciones.<br /><br />

                    Para asegurarte una convivencia feliz tu elección debe estar orientada al estilo de vida que llevas y el tiempo real que le podes dedicar. </p>
             
                <hr class="light my-4">
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Antes de adoptar considerá las siguientes caracteristicas</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
            </div>
        </div>
    </div>  
</section>

<section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" href="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/1.jpg">
                    <img class="img-fluid" src="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/1.jpg" alt="" style="width: 800px; height: 600px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               <ul style="text-align:justify;">
                                   <li>Requiere de mucho tiempo y esfuerzo<br /></li>                                
                                   <li>Comen 4 veces al día<br /></li>
                                   <li>Puede llorar por las noches y en las ausencias de los dueños<br /></li>
                                   <li>Mastica objetos<br /></li>
                                   <li>No hay garantias respecto a el tamaño que llegará a tener<br /></li>
                               </ul>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" href="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/2.jpg">
                    <img class="img-fluid" src="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/2.jpg" alt="" style="width: 800px; height: 600px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              ...
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" href="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/3.jpg">
                    <img class="img-fluid" src="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/3.jpg" alt="" style="width: 800px; height: 600px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               ...
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" href="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/4.jpg">
                    <img class="img-fluid" src="~/Content/HomeMenu/img/portfolio/thumbnails_Adopt/4.jpg" alt="" style="width: 800px; height: 600px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               ...
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>                       
</section>


<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Contactanos!</h2>
                <hr class="my-4">
                <p class="mb-5">Horarios de atención: lunes a sábados de 8 a 15 hs</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                <p>4474-4875</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                <p>
                    <a href="">coldsnouts@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</section>
