
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" /> 
</head>

<body>
    

    <div class="masthead text-center text-white d-flex" style="background-image:url(/Content/HomeMenu/img/portfolio/thumbnails/7.jpg);height:100%; ">
        <div class="container my-auto">
            <div class="row" style="margin:8%">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong style="color: #962222; font-size: 50px;">Voluntariado</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class="text-faded mb-5" style="font-size:21px;">Ser voluntario es donar una parte de tu vida a otro ser que lo necesita e implica responsabilidades y esfuerzos</p>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="masthead text-center text-white d-flex" style="background-color:#f7d9d9;">
        <div class="container my-auto" style="background-color:#fff;">
            <p class="text-faded mb-4" style="text-align: justify;font-size: 20px;color: #7d7b7b; padding: 5%;padding-bottom: 8%;margin-top: 20px;border: 2px dashed #8a7878;">
                Para ser voluntario activo y trabajar en las distintas áreas de nuestra ONG es requisito que te comprometas a donar tu tiempo y de forma constante.<br /><br />

                Actualmente hay más de 30 voluntarios brindando su trabajo en caniles, enfermería, alimentación, comunicación, adopciones, efectuando traslados y rescates, trabajando en jornadas de castración en zoonosis, brindando asistencialismo a animales de la calle sin dueños, etc. Todos ellos han sido entrenados según sus preferencias, herramientas y posibilidades cuando asumieron un compromiso real.<br /><br />

                Cold Snouts tiene su base de actividades en Tigre, zona norte de Buenos Aires, Argentina, por lo tanto antes tomar la decisión debes considerar si estás dispuesto a viajar teniendo en cuenta tu lugar de residencia, tu disponibilidad horaria, etc.<br /><br />

                Te pedimos que pienses muy cuidadosamente acerca de la posibilidad de dar su tiempo antes de enviarnos su solicitud.<br /><br />

                *El voluntariado activo es SOLO para mayores de edad sin excepción.<br /><br />

                <a class="btn btn-primary btn-xl js-scroll-trigger" href="@Url.Action("VolunteerForm", "HomeMenu")" style="position: absolute; margin-left: 25%;color:#fff;">Completar formulario </a>

            </p>
          
        </div>
        </div>

</body>
</html>
