@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>  
 
<body>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">AwaitingRequests</h1>
                    <div class="input-group">
                    <a>Nombre: </a>
                    <input type="text" id="Nombre" />
                    <a>Apellido: </a>
                    <input type="text" id="Apellido" />
                       </div>
                </div>
                <div class="col-md-6">
                    <label for="exampleInputName">First name</label>
                    <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
                    <a class="btn btn-primary btn-xs" href="login.html">Aceptar</a>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>

</body>
</html>
